<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div id="page" layout:fragment="container">

    <form action="#" class="form-signin"
          id="passwordForm" method="post"
          role="form" th:action="@{/changePassword}">

        <h2 class="form-signin-heading" th:text="#{password.header}"></h2>

        <div class="alert alert-success" role="alert"
             th:if="${successMessage}" th:text="${successMessage}"></div>

        <div class="alert alert-danger" role="alert" th:if="${errorMessage}"
             th:text="${errorMessage}"></div>

        <div class="form-group input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span>
				</span>
            <input
                    class="form-control"
                    id="currentPassword"
                    name="currentPassword"
                    required="true"
                    th:placeholder="#{password.currentPasswordPlaceholder}"
                    type="password"
            />
            <span aria-hidden="true" class="glyphicon"></span>
        </div>

        <div class="form-group input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span>
				</span>
            <input
                    class="form-control"
                    id="newPassword"
                    name="newPassword"
                    required="true"
                    th:placeholder="#{password.newPasswordPlaceholder}"
                    type="password"
            />
            <span aria-hidden="true" class="glyphicon"></span>
        </div>

        <div class="form-group input-group has-feedback">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span>
				</span>
            <input
                    class="form-control"
                    id="signup-password-confirm"
                    name="confirmPassword"
                    required="true"
                    th:placeholder="#{password.confirmPasswordPlaceholder}"
                    type="password"
            />

            <div class="help-block with-errors"></div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" th:text="#{password.buttonText}" type="submit"></button>

    </form>


</div>

<!-- jQuery-->
<script
        src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap -->
<script
        crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Bootstrap Validator plugin -->
<script
        src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

<script th:src="@{js/fv.min.js}"></script>

</body>
</html>