<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div layout:fragment="container">

    <form class="form-signin" method="post" th:action="@{/changeEmail}">

        <h2 class="form-signin-heading" th:text="#{changeEmail.header}"></h2>

        <div class="alert alert-success" role="alert"
             th:if="${successMessage}" th:text="${successMessage}"></div>

        <div class="alert alert-danger" role="alert" th:if="${errorMessage}"
             th:text="${errorMessage}"></div>

        <div class="form-group input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-envelope"></span>
				</span>
            <input
                    class="form-control"
                    id="username"
                    name="email"
                    th:autofocus="autofocus"
                    th:placeholder="#{changeEmail.emailPlaceholder}"
                    th:required="required"
                    type="email"
            />
        </div>

        <div class="form-group input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span>
				</span>
            <input
                    class="form-control"
                    id="inputPassword"
                    name="password"
                    th:placeholder="#{changeEmail.passwordPlaceholder}"
                    th:required="required"
                    type="password"
            />
        </div>

        <button class="btn btn-lg btn-primary btn-block" th:text="#{changeEmail.buttonText}" type="submit"></button>
    </form>

</div>
<!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>