<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div layout:fragment="container">

    <h2 th:text="#{delete.successHeader}"></h2>

    <div class="alert alert-success" role="alert"
         th:if="${confirmationMessage}" th:text="${confirmationMessage}"></div>

    <a th:href="@{/register}" th:text="#{registration.header}"></a>


</div>

<!-- Mainly scripts -->
<script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

</html>