<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div layout:fragment="container">

    <form class="form-signin" method="post" role="form" th:action="@{/deleteAccount}">

        <h2 class="form-signin-heading" th:text="#{delete.header}"></h2>

        <div class="alert alert-danger" role="alert"
             th:if="${warningMessage}" th:text="${warningMessage}"></div>

        <button class="btn btn-lg btn-primary btn-block" th:text="#{delete.buttonText}" type="submit"></button>
    </form>

</div>

<!-- Mainly scripts -->
<script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

</html>