<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div layout:fragment="container">

    <form action="#" autocomplete="off" class="form-signin"
          data-toggle="validator" method="post" role="form" th:action="@{/forgotten}"
          th:object="${user}">

        <h2 class="form-signin-heading" th:text="#{forgottenPassword.header}"></h2>

        <div class="alert alert-success" role="alert"
             th:if="${confirmationMessage}" th:text="${confirmationMessage}"></div>

        <div class="alert alert-danger" role="alert" th:if="${errorMessage}"
             th:text="${errorMessage}"></div>


        <div class="validation-message alert alert-danger" role="alert"
             th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>


        <div class="form-group input-group has-feedback">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-envelope"></span>
				</span>
            <input
                    class="form-control"
                    data-error="This email address is invalid"
                    required="true"
                    th:field="*{email}"
                    th:placeholder="#{forgottenPassword.emailPlaceholder}"
                    type="email"
            />
            <span aria-hidden="true" class="glyphicon form-control-feedback"></span>
        </div>

        <button class="btn btn-lg btn-primary btn-block" th:text="#{forgottenPassword.buttonText}"
                type="submit"></button>

    </form>

</div>

<!-- jQuery-->
<script
        src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap -->
<script
        crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Bootstrap Validator plugin -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


</body>

</html>
