<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div layout:fragment="container">

    <form class="form-signin" method="post" th:action="@{/login}">

        <h2 class="form-signin-heading" th:text="#{login.header}"></h2>

        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            Invalid username or password.
        </div>

        <div class="alert alert-success" role="alert"
             th:if="${param.logout}">You have been logged out.
        </div>

        <div class="form-group input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-envelope"></span>
				</span>
            <input
                    class="form-control"
                    id="username"
                    name="username"
                    th:autofocus="autofocus"
                    th:placeholder="#{login.emailPlaceholder}"
                    th:required="required"
                    type="email"/>
        </div>

        <div class="form-group input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span>
				</span>
            <input
                    class="form-control"
                    id="inputPassword"
                    name="password"
                    th:placeholder="#{login.passwordPlaceholder}"
                    th:required="required"
                    type="password"/>
        </div>

        <button class="btn btn-lg btn-primary btn-block" th:text="#{login.buttonText}" type="submit"></button>

        <div class="bottom-group">
            <a th:href="@{/forgotten}" th:text="#{forgottenPassword.header}"></a>
        </div>
    </form>

</div>
<!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>