<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div layout:fragment="container">

    <form class="form-signin" method="post" role="form" th:action="@{/logout}">

        <h2 class="form-signin-heading" th:text="#{logout.header}"></h2>

        <button class="btn btn-lg btn-primary btn-block" th:text="#{logout.buttonText}" type="submit"></button>
    </form>

    <form class="form-signin" method="post" role="form" th:action="@{/globalLogout}">

        <h2 class="form-signin-heading" th:text="#{logout.globalHeader}"></h2>

        <div class="alert alert-success" role="alert"
             th:if="${confirmationMessage}" th:text="${confirmationMessage}"></div>

        <button class="btn btn-lg btn-primary btn-block" th:text="#{logout.buttonText}" type="submit"></button>
    </form>


</div>

<!-- Mainly scripts -->
<script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

</html>