<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div layout:fragment="container">

    <div class="alert alert-success" role="alert"
         th:if="${successMessage}" th:text="${successMessage}"></div>

    <div class="alert alert-danger" role="alert" th:if="${errorMessage}"
         th:text="${errorMessage}"></div>

</div>
<!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>