<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<span th:text="${message}"></span>
<br/>
<a style="font-size: 100px; text-decoration: none" th:href="${link}">Please click the Aktivation link</a>
</body>
</html>